---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="w-full p-6 flex flex-col items-center justify-center gap-2 text-sm md:text-base md:flex-row md:gap-32"
  >
    <h1 class="text-4xl font-black text-left w-full">CASE STUDIES</h1>

    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img
                class=" corner w-[330px] h-[330px] bg-gray-500"
                src={post.data.heroImage}
              />
              <h4 class="title">{post.data.title}</h4>
              <div class=" w-12 flex items-center text-center justify-center bg-[#EA83FF] font-black rounded-full">
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
